body {
    background-color: #000;
    color: #fff;
}

html:not(.pf-v5-theme-dark) section {
    color: #000;
}

.pf-v5-c-masthead__main {
    font-size: 1.2em;
    color: inherit;
}
.pf-v5-c-masthead__main a {
    color: inherit;
    text-decoration: none;
}
.pf-m-selected,
.pf-m-selected:hover {
    background-color: #0066cc;
}
.pf-v5-c-toggle-group__button:not(.pf-m-selected):hover {
    background-color: #4b6784;
}
code {
    padding: .2em .5em;
    background-color: #343941;
    color: #fff;
    border-radius: 6px;
    font-size: 85%;
    white-space: break-spaces;
    margin: 0;
    font-weight: bold;
}
